.aboutContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 7rem;
  @media screen and (max-width: 425px) {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 130px;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 625px) and (min-width: 426px) {
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 768px) and (min-width: 426px) {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 130px;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 926px) and (min-width: 769px) {
    margin-top: 220px;
  }
  @media screen and (max-width: 1024px) and (min-width: 927px) {
    margin-top: 150px;
  }
}

.aboutLeft {
  display: flex;
  flex-direction: column;
  width: 40%;
  line-height: 15px;
  @media screen and (max-width: 425px) {
    margin-top: 60px;
    width: 100%;
  }
  @media screen and (max-width: 768px) and (min-width: 426px) {
    margin-top: 120px;
    width: 100%;
  }
}

.lowerText {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 60px;
}

.lowerText p {
  @media screen and (max-width: 625px) and (min-width: 426px) {
    padding-right: 12rem;
  }
}

.aboutLeft h1 {
  color: rgba(255, 255, 255, 0.13);
  font-size: 7.5rem;
  @media screen and (max-width: 425px) {
    font-size: 4.3rem;
    padding-top: 2rem;
  }
  @media screen and (max-width: 719px) and (min-width: 426px) {
    font-size: 5rem;
    margin-left: -37px;
  }
  @media screen and (max-width: 768px) and (min-width: 720px) {
    margin-left: -50px;
  }
}

.aboutLeft h3 {
  color: white;
  font-size: 1.8rem;
  font-weight: 200;
  @media screen and (max-width: 425px) {
    line-height: 27px;
  }
  @media screen and (max-width: 719px) and (min-width: 426px) {
    line-height: 27px;
  }
}

.aboutLeft p {
  color: rgba(255, 255, 255, 0.75);
  line-height: 32px;
  font-size: 1.3rem;
  @media screen and (max-width: 425px) { 
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media screen and (max-width: 768px) and (min-width: 426px) {
    font-size: 1.4rem;
    line-height: 40px;
    width: 42rem;
    padding-left: 6rem;
  }
}

.abtButton {
  color: rgb(135, 135, 228);
  font-size: 1.3rem;
  cursor: pointer;
  @media screen and (max-width: 425px) {
    line-height: 25px;
  }
  @media screen and (max-width: 768px) and (min-width: 426px) {
    font-size: 1.5rem;
    line-height: 25px;
  }
}

.aboutRight img {
  width: 80%;
  @media screen and (max-width: 639px) {
    margin-left: 2.6rem;
  }
  @media screen and (max-width: 768px) and (min-width: 640px) {
    margin-left: 3rem;
  }
}